@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: #9fabb2;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  font-size: 38px;
  color: #4c545d;
  font-weight: 600;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: #4c545d;
}

h1 + p,
h2 + p {
  margin-top: 30px;
  line-height: 1.5;
}

button {
  outline: none;
  padding: 17px 40px;
  color: #fff;
  background-color: #26baa4;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px;
  border-bottom: 5px solid #1c9e8a;
  -webkit-box-shadow: 0px 9px 20px rgba(38, 186, 164, 0.5);
          box-shadow: 0px 9px 20px rgba(38, 186, 164, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 3px 7px rgba(38, 186, 164, 0.5);
          box-shadow: 0px 3px 7px rgba(38, 186, 164, 0.5);
}

img.icons {
  margin-bottom: 20px;
}

header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.hero {
  max-width: 800px;
  padding: 40px;
}

header div.hero img {
  margin-top: 100px;
}

header div.hero h1 {
  margin-top: 120px;
  font-size: 45px;
  color: #4c545d;
  font-weight: 600;
}

header div.hero button {
  margin-top: 30px;
}

header div.hero button.blue {
  background-color: #6173ff;
  border-bottom: 5px solid #5964be;
  -webkit-box-shadow: 0px 9px 20px rgba(97, 115, 255, 0.5);
          box-shadow: 0px 9px 20px rgba(97, 115, 255, 0.5);
}

header div.hero button.blue:hover {
  -webkit-box-shadow: 0px 3px 7px rgba(97, 115, 255, 0.5);
          box-shadow: 0px 3px 7px rgba(97, 115, 255, 0.5);
}

section.keep-track div.text {
  text-align: center;
  max-width: 800px;
  margin-top: 100px;
}

section.keep-track div.content {
  width: 100%;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.keep-track div.content div.content__image {
  margin-left: -50px;
}

section.keep-track div.content div.content__text {
  max-width: 450px;
  margin: 0 auto 0 60px;
}

section.keep-track div.content div.content__text h3:not(:first-child) {
  margin-top: 40px;
}

section.keep-track div.content div.content__text p {
  margin-top: 20px;
  line-height: 1.5;
}

section.access-anywhere {
  margin: 100px auto 0 auto;
  text-align: center;
}

section.access-anywhere div.text {
  max-width: 800px;
}

section.access-anywhere div.text p {
  margin-top: 30px;
  line-height: 1.5;
}

section.access-anywhere div.image img {
  margin-top: 100px;
  height: auto;
  width: 900px;
}

section.workflow {
  text-align: center;
}

section.workflow .text {
  margin-top: 100px;
}

section.workflow .text p {
  margin-top: 30px;
}

section.workflow .workflow__content {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
}
/*# sourceMappingURL=style.css.map */